<div class="container-footer">
  <div class="row row-footer">
    <div class="col s12 m5 offset-m1 l4 offset-l2 address cdmx">
        <div class="wrap-img">
            <img src="./../../assets/iconos/visitor.png" alt="dirección">
        </div>
        <div class="wrap-dir">
          <span> Del. Cuahutémoc México, D.F.</span>
          <p>José Vasconcelos 184, Col. Condesa</p>
          <p> C.P. 06140</p>
        </div>
    </div>
    <div class="col s12  m5 l4 address ags">
      <div class="wrap-img">
          <img src="./../../assets/iconos/visitor.png" alt="dirección">
      </div>
      <div class="wrap-dir">
        <span>Aguascalientes, Ags.</span>
        <p>Calle Monte Blanco 305, Col. Jardines de la Concepción II </p>
        <p>C.P.20120</p>
      </div>
    </div>
    <div class="col s12 cpt">
      Copyright © 2019. Todos los derechos reservados
    </div>
  </div>
</div>