<div class="container-parallax">
  <h1 class="fadeInLeft animated">Ultra México</h1>
  <mz-parallax [height]="450">
    <img src="./../../assets/backgrounds/creative.jpg">
  </mz-parallax>
</div>

<div class="container-nosotros">
  <div class="row row-nosotros fadeIn animated">
    <div class="col s12 m10 offset-m1 l8 offset-l2 col-inf quienes-somos">
      <div class="wrap-info">
        <h4>Quienes Somos</h4>
        <p>
          Somos un corporativo diversificado en varias unidades de negocio, que a lo largo de 15 años de experiencia en el mercado de la comunicación y la generación de contenido para medios audio visuales , hemos crecido y nos hemos consolidado como una empresa confiable, que evoluciona gracias a la innovación y la creatividad. Creemos que la pasión por transformar y el anhelo de compartir, nos permitirán crear la empresa y el país que soñamos.
        </p>
        <p>
          Ultra México nace a partir de Ultra Telecom, una empresa familiar fundada en los años 60's que nos dio las herramientas y las bases para ser el corporativo que somos hoy en día. 
        </p>
        <p class="card-panel grey lighten-5 z-depth-5 resalt">
          <span class="frase">
            "Si hemos llegado lejos, es porque estamos parados en hombros de gigantes."
          </span>
          <span class="autor">
            Isaac Newton.
          </span>
        </p>
      </div>
    </div>
    <div class="col s12 m10 offset-m1 l8 offset-l2 col-inf mision">
      <div class="wrap-info">
        <h4>Misión</h4>
        <p>
          Generar valor significativo y trascendente a través de la innovación, en todas las unidades de negocio que integran nuestro grupo, bajo el principio de amor y pasión por México.
        </p>
      </div>
    </div>
    <div class="col s12 m10 offset-m1 l8 offset-l2 col-inf vision">
      <div class="wrap-info">
        <h4>Visión</h4>
        <p>
          <b>- Nuestro motor</b>
        </p>
        <p> Maximixar nuestra generación de valor significativo y trascendente, formando parte de la economía creativa.</p>
        <p class="card-panel grey lighten-5 z-depth-5 resalt">
          <span class="frase">
            "Ojalá nuestra tecnología nunca deje atrás nuestra filosofía. Ojalá nuestro poder nunca supere nuestra compasión. Y que el motor del cambio, no sea el miedo, sino el amor."
          </span>
          <span class="autor">Edmond Kirsch.</span>
        </p> 
        <!--<b>Nuestra fuerza:</b>-->
        <p>
          <b>- Colaboradores</b> 
        </p>
        <p>
          Ser un gran equipo multidisciplinario formado por talentos comprometidos con el sueño de crear, compartir y transformar para generar valor.
        </p>
        <p>
          <b>- Clientes y proveedores</b> 
        </p>
        <p>
          Tener relaciones comerciales que se basen en la confianza, el comercio justo, la sustentabilidad y los valores compartidos.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="container-valores fadeIn animated">
  <h4>VALORES</h4>
  <div class="row row-valores">
    <div class="col s12 m6  l4 col-valor shake">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row row-valor valign-wrapper">
          <div class="col s12 l2 cont-img-v">
            <img src="./../../assets/iconos/hearts.png" alt="" class=" responsive-img">
          </div>
          <div class="col s12 l10 col-text-v">
            <span class="black-text text-v">
              Amor por México.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 col-valor shake">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row row-valor valign-wrapper">
          <div class="col s12 l2 cont-img-v">
            <img src="./../../assets/iconos/passion.png" alt="" class=" responsive-img">
          </div>
          <div class="col s12 l10 col-text-v">
            <span class="black-text text-v">
              Pasión por la gente buena de México.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4 col-valor shake">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row row-valor valign-wrapper">
          <div class="col s12 l2 cont-img-v">
            <img src="./../../assets/iconos/dream.png" alt="" class=" responsive-img">
          </div>
          <div class="col s12 l10 col-text-v">
            <span class="black-text text-v">
              Capacidad de soñar.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4 col-valor shake">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row row-valor valign-wrapper">
            <div class="col s12 l2 cont-img-v">
              <img src="./../../assets/iconos/brain.png" alt="" class=" responsive-img">
            </div>
            <div class="col s12 l10">
              <span class="black-text text-v">
                Creer como la base para hacer que nuestro trabajo diario contribuya.
              </span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col s12 m6 l4 col-valor shake">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row row-valor valign-wrapper">
            <div class="col s12 l2 cont-img-v">
              <img src="./../../assets/iconos/hands.png" alt="" class=" responsive-img">
            </div>
            <div class="col s12 l10">
              <span class="black-text text-v">
                Colaboración, porque la suma de talentos multiplica el resultado.
              </span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col s12 m6 l4 col-valor shake">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row row-valor valign-wrapper">
            <div class="col s12 l2 cont-img-v">
              <img src="./../../assets/iconos/strategy.png" alt="" class=" responsive-img">
            </div>
            <div class="col s12 l10 col-text-v">
              <span class="black-text text-v">
                Liderazgo sencillo y honesto.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4 col-valor shake">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row row-valor valign-wrapper">
              <div class="col s12 l2 cont-img-v">
                <img src="./../../assets/iconos/project.png" alt="" class=" responsive-img">
              </div>
              <div class="col s12 l10 col-text-v">
                <span class="black-text text-v">
                  Innovación que busque el bien común.
                </span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col s12 m6 l4 col-valor shake">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row row-valor valign-wrapper">
              <div class="col s12 l2 cont-img-v">
                <img src="./../../assets/iconos/star.png" alt="" class=" responsive-img">
              </div>
              <div class="col s12 l10 col-text-v">
                <span class="black-text text-v">
                  Diversión, piedra angular de la vida.
                </span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col s12 m6 l4 col-valor shake">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row row-valor valign-wrapper">
              <div class="col s12 l2 cont-img-v">
                <img src="./../../assets/iconos/libra.png" alt="" class="swing responsive-img">
              </div>
              <div class="col s12 l10">
                <span class="black-text text-v">
                  Equilibrio en nuestra vida y en todo lo que hagamos.
                </span>
              </div>
            </div>
          </div>
        </div>

  </div>

</div>
